<mat-form-field>
  <div>
    <mat-toolbar>
      <!-- Display files names -->
      <input matInput [(ngModel)]="fileAttr" readonly name="name" />

      <!-- Browse Button -->
      <button mat-flat-button color="primary">
        Browse
      </button>
    </mat-toolbar>

    <!-- Fetch selected filed on change -->
    <input type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile"
      multiple="multiple" />
  </div>
</mat-form-field>
<div class="clear-fix" ></div>


<div *ngIf="dataSource">

  <!-- <app-tables ></app-tables> -->
  <app-tables [avgPrices_arr]="dataSource['avgPrices_arr']" [distribution_arr]="dataSource['distribution_arr']" [avgPriceContacted]="dataSource['avgPriceContacted']" [topContacted]="dataSource['topContacted']"></app-tables>

</div>