<div class="flex-container">
    <div class="table-container">
        <h2>Average Listing Selling Price per Seller Type</h2>
        <table mat-table [dataSource]="avgPrices_arr" class="mat-elevation-z8">

            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Seller Type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>

            <ng-container matColumnDef="count">
                <th mat-header-cell *matHeaderCellDef> Average in Euro </th>
                <td mat-cell *matCellDef="let element"> {{element.count| currency: 'EUR' }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
        </table>

    </div>
    <div class="table-container">
        <h2>Percentual distribution of available cars by Make</h2>
        <table mat-table [dataSource]="distribution_arr" class="mat-elevation-z8">


            <ng-container matColumnDef="make">
                <th mat-header-cell *matHeaderCellDef> Make </th>
                <td mat-cell *matCellDef="let element"> {{element.make}} </td>
            </ng-container>

            <ng-container matColumnDef="percent">
                <th mat-header-cell *matHeaderCellDef> Distribution </th>
                <td mat-cell *matCellDef="let element"> {{element.percent + '%'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
        </table>

    </div>
    <div class="table-container">
        <h2>Average price of the 30% most contacted listings</h2>
        <table mat-table [dataSource]="avgPriceContacted" class="mat-elevation-z8">


            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Average price </th>
                <td mat-cell *matCellDef="let element"> {{element.price| currency: 'EUR'}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
        </table>

    </div>

    <div class="table-container">
        <h2>The Top 5 most contacted listings per Month: 05.2020</h2>
        <table mat-table [dataSource]="topContacted" class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef sticky> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="make">
                <th mat-header-cell *matHeaderCellDef> Make </th>
                <td mat-cell *matCellDef="let element"> {{element.make}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.price| currency: 'EUR'}} </td>
            </ng-container>

            <ng-container matColumnDef="mileage">
                <th mat-header-cell *matHeaderCellDef> Mileage </th>
                <td mat-cell *matCellDef="let element"> {{element.mileage + 'KM'}} </td>
            </ng-container>

            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Total Amount of contacts </th>
                <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
        </table>

    </div>
</div>